
<section>
  <div class="functionBar">
    <div class="top-bor"></div>
    <div class="top-left-bor"></div>
    <div class="bottom-right-bor"></div>
    <div class="bottom-bor"></div>
    <div class="barLeft">
      <form action="">
        <label>账号</label>
        <div class="pluginSelect">
          <input type="text">
        </div>
      </form>
      <button>查询</button>
    </div>
    <div class="barRight">
      <button class="add">+ 新增</button>
    </div>
  </div>

<router-outlet></router-outlet>
</section>
